/* CSS Document */

@supports (grid-area: auto) {
	
	@media screen and (min-width: 400px) {
		#projects {
			display: grid;
			width: 100%;
			grid-template-columns:  30% 30% 30%;
			grid-template-areas: 
				"prj5 prj6 prj7";
			justify-content: center;
			grid-gap: 2% 2%;
		}
		
		#projects img {
			width: 75%;
			height: 75%;
		}
		
		#prj5 {
			grid-area: prj5;
		}
		
		#prj6 {
			grid-area: prj6;
		}
		
		#prj7 {
			grid-area: prj7;
		}
		
	}
}